{
  "printWidth": 120,
  "tabWidth": 2,
  "singleQuote": true,
  "jsxBracketSameLine": true,
  "bracketSpacing": false,
  "arrowParens": "always",
  "trailingComma": "es5",
  "overrides": [
    {
      "files": [".prettierrc", ".watchmanconfig", "app.json", "package.json"],
      "options": {
        "parser": "json"
      }
    }
  ]
}
